.main {
  width: 100%;
  color: wheat;
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: start;
  padding-right: 10px;
  padding-left: 10px;
}

.main .title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
}
.main .sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main .sub p {
  font-weight: 300;
  margin-bottom: 0px;
  font-size: small;
}

.main .grid {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-row-gap: 0px;
}

.main a {
  background-image: linear-gradient(
    transparent 50%,
    rgba(0, 255, 10, 0.35) calc(50% - 9px),
    rgba(0, 255, 0, 0.35) 100%
  );
  cursor: pointer;
  color: rgb(246, 247, 249);
}

.main a:hover {
  color: black;
  background-image: linear-gradient(
    rgba(0, 255, 10) calc(50% - 9px),
    rgba(0, 255, 0) 100%
  );
}
